h1 {
    color: red;
}

.container {
    position: relative;
    height: 1000px;
    background-color: tomato;
}

.h1_1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
